.evaluation-table {

  thead:not(:first-child) th {
    padding-top: 2em;
  }

  th, td {
    border-top: none;
  }

  th:first-child, td:first-child {
    padding-left: 3rem;
  }

  th:last-child, td:last-child {
    padding-right: 3rem;
  }

  .form-control {
    height: 2em !important;
  }

  tbody.evaluation-divider {
    border-bottom: 1px solid #434857;
    padding-top: 2em;
  }

}