$font-path: '~react-widgets/lib/fonts';
$img-path: '~react-widgets/lib/img';

$text-color: #fff;
$input-color: #fff;
$icon-color: #fff;
$input-focus-box-shadow: none;
$input-height: 2.5em;
$input-border-focus: #71cced;
$widget-bg: #434857;
$btn-bg: #434857;
$state-bg-hover: none;
$widget-border: #434857;
$state-bg-select: #636978;
$state-bg-focus: #565c6b;
$btn-bg: #434857;
$state-border-focus: #434857;
$border-radius: .25rem;

@import "~react-widgets/lib/scss/react-widgets";

.input-group .rw-widget-picker {
  border-radius: 0 !important;
}

.modal {
  .rw-list-option.rw-state-selected, .rw-list-option.rw-state-selected:hover,
  .rw-list-option.rw-state-focus, .rw-list-option.rw-state-focus:hover,
  .rw-cell.rw-state-selected, .rw-cell.rw-state-selected:hover,
  .rw-cell.rw-state-focus, .rw-cell.rw-state-focus:hover {
    background-color: #f2f2f2;
    color: #595f73;
    border-color: #f2f2f2;
  }

  .rw-calendar-grid th, .rw-calendar-footer {
    border-color: #ddd;
  }

  .rw-widget-input {
    box-shadow: none;
  }

  .rw-btn, .rw-cell {
    color: #595f73;
  }

  .rw-widget, .rw-input, .rw-filter-input, .rw-i, .rw-list-option, .rw-calendar-grid {
    color: #595f73;
    background-color: #fff;
  }
  .rw-select-bordered {
    border-color: transparent;
  }

  .rw-widget-container, .rw-popup {
    background-color: #fff;
    border-color: #ddd;
  }
}