.risk-table {
  table-layout: fixed;

  tbody {
    border-width: 1px !important;
  }

  a {
    text-decoration: inherit;
    color: inherit;
  }

  .game {
    font-size: .75rem;

    .tickets-sport-icon {
      margin-right: .5em;
    }

    [class*="sprite__navside-flag"]:before {
      margin-right: .3em;
      margin-bottom: -.25em;
    }

    .divider {
      display: inline-block;
      margin: 0 .5rem;
    }
  }

  .risk-sub {
    td {
      border-top: none;
      font-size: .75rem;
      padding-left: .75rem;
      padding-right: .75rem;
    }
  }

  .nowrap {
    white-space: nowrap;
  }

  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .odd-value {
    canvas {
      margin-top: 10px;
      position: absolute;
      top: 0;
      left: 4rem;
    }
    > span {
      position: relative;
      z-index: 3;
    }
  }
}

.ticket-link {
  transition: color .2s;

  &:hover {
    color: #1997c6 !important;
  }
}

.risk-head {
  label {
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 .25rem 0;
    text-align: center;
    width: 100%;
  }
}

.risk-negative {
  color: #868e96;
}

.risk-low {
  color: #1BC98E;
}

.risk-medium {
  color: #E4D836;
  font-weight: bold;
}

.risk-high {
  color: #E64759;
  font-weight: bold;
}

.risk-extreme {
  color: #e90f23;
  font-weight: bold;
}

.modal {
  .risk-negative {
    color: #868e96;
  }
  .risk-low {
    color: #28a745;
  }
  .risk-medium {
    color: #ffc107;
  }
  .risk-high {
    color: #dc3545;
  }
  .risk-extreme {
  }
}